@model PrototipoEcommerce.Web.Models.ProdutoViewModel

@{
    ViewData["Title"] = "Remover Produto";
}

<h1>Remover Produto</h1>

<h3>Deseja, realmente, remover este produto?</h3>
<div>
    <h4>ProdutoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromocaoNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromocaoNome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Remover" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
