@model IEnumerable<PrototipoEcommerce.Web.Models.ProdutoViewModel>

@{
    ViewData["Title"] = "Produtos";
}

<h1>Produtos</h1>

<p>
    <a asp-action="Create">Cadastrar Produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PromocaoNome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PromocaoNome)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Remover", "Delete", new { id = item.Id }) |
                    @Html.ActionLink("Adicionar ao Carrinho", "AdicionarAoCarrinho", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
